/* Fonts and Colours */
body{
  background: #252627;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
     text-align: center;
    font-weight: lighter;
    display: inline;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  color:  white;
  font-size: 65px;
}

h2 {
    font-size: 20px;
     font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-shadow: 0.2px 0.2px 8px  rgb(80, 80, 80);
    display: inline;
    opacity: 0.9;
}

.highlighted {
    background-color: rgba(0,0,0,.8);
}


a:hover {
    text-decoration: none;
    color: #3C3744
}

/* Custom design */
#banner {
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    background-image:  url("waiting-to-sing.jpg");
    text-align: center;
    color: white;
    text-shadow: 0.2px 0.2px 8px  rgb(80, 80, 80);
}
    

#banner p  {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.9;
}

#signup {
    background-size: cover;
    text-align: center;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: 'Open sans', sans-serif;

}


.middle {
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;

}

#section-2 {
    background-image:  url("m_e_r_cinemaorgan.jpg");
}

.container {
    position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.card {
	text-align: center;
}

.iframe {
   position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.soundcloud-widget {
    	padding-top: 5%;
 	padding-left: 5%;
	padding-right: 5%;
}
   
.youtube-widget {
    padding-top: 5%;
}

#mc_embed_signup {
    display: inline;
    background: #252627;
}

.mc-field-group input {
    color: black;
}

.mc-field-group label {
    color: white;
    
}

.mc-field-group { display: inline-block; }

.mc-embedded-subscribe-form {
    max-width: 200px;
    display: inline;
}

.button {
	text-align: center;
}

#mailchimp input[type="submit"] {
			width: 35%;
			padding: 8px 0;
}

#footer {
    font-size: 15px;
    padding: 20px;
    text-align: center;

}

#footer a {
    font-size: 25px;
    color: white;
}

#footer a:hover {
    color: grey;   
}
