/* Fonts and Colours */
body {
  background: #252627;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: lighter;
	display: inline;

}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 65px;
 text-align: center;
 letter-spacing: 6px;
}

h2 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0.2px 0.2px 8px  rgb(80, 80, 80);
    display: inline;
    opacity: 0.9;
   
}

.highlighted {
    background-color: rgba(0,0,0,.8);
}


a:hover {
    text-decoration: none;
    color: #3C3744
}

/* Custom design */

/* Header */
#banner {
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    background-image:  url("waiting-to-sing.jpg");
    color: white;
    text-shadow: 0.2px 0.2px 8px  rgb(80, 80, 80);
}
 
/* Second image section with quotes */
#section-2 {
    background-image:  url("stephenjosephshow2.jpg");
    line-height: 2.5;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;

}

/* Main body text and signup form */

#main {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

#mc_embed_signup {
    display: inline;
    background: #252627;
}

.mc-field-group input {
    color: black;
}

.mc-field-group {
    display: inline;
    padding: 2px;
}

form {
    display: inline;
}

input.button {
clear: both;
width: 100px;
margin: 10px auto;
padding: 2px 5px;
}

/* Soundcloud section */
.soundcloud-widget {
    padding-top: 5%;
 	padding-left: 5%;
	padding-right: 5%;
}

.iframe {
    border: 0px;
    width: 100%;
}

#chaplin-quote {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16px;
    font-weight: 400;
}

/* Footer */
#footer {
    padding: 20px;
}

#footer a {
    font-size: 25px;
    color: white;
}

#footer a:hover {
    color: grey;   
}

#lineup {
  padding-left: 20%;
  padding-right: 20%;
}
